@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  
  text-align: center;
}

@theme {
  --color-bordo: #5A0001;
  --color-melon: #F13030;
  --color-lico: #22181C ;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
